$base-theme:Default;
$skin-name:demo;
$accent: #007cc0;
$info: #80deea;
$success: #a5d6a7;
$warning: #ffecc7;
$error: #ffbfc4;
$text-color: #32364c;
$bg-color: #ffffff;
$base-text: #32364c;
$base-bg: #f8fafb;
$hovered-text: #888e90;
$hovered-bg: #f5f6f6;
$selected-text: #32364c;
$selected-bg: #e0f7fa;
$series-a: #ff4350;
$series-b: #ff9ea5;
$series-c: #00acc1;
$series-d: #80deea;
$series-e: #ffbf46;
$series-f: #ffd78c;
